@import "tailwindcss";

:root {
  --background: #ffffff;

  --biru-tua: #005792;
  --biru-muda: #00a3e0;
  --cream: #f6f6e9;
  --orange: #fd5f00;
}

@theme inline {
  --color-background: var(--background);

  --color-biru-tua: var(--biru-tua);
  --color-biru-muda: var(--biru-muda);
  --color-cream: var(--cream);
  --color-orange: var(--orange);

  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
